body{
	padding: 0;
	margin: 0;
	font-family: 'Didact Gothic', sans-serif;
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(255,255,255,0.6)), url("../image/bg8.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
header{
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 80px;
	width: 90%;
	height: 80px;
}
header .logo{

	width: 160px;
	height: 200px;
	background: white;
	text-align: center;
	float: left;
	border-bottom-right-radius: 50px; 
	border-bottom-left-radius: 50px; 
	box-shadow: 3px 3px 5px rgba(144,144,144,0.5);
}
header .logo img{

	width: 140px;
	height: 150px;
}
header .logo a{

	text-decoration: none;
	color: black;
	font-size: 18px;
}
header nav{

	float: right;
	margin-top: 40px;
}
header nav ul{

	margin: 0;
	padding: 0;
	display: flex;

}
header nav ul li{

	list-style: none;

}
header nav ul li a{

	text-decoration: none;
	color: white;
	padding: 0 20px;
	font-size: 18px;
	font-weight: bold;

}
.boxes{
	margin-top: 260px;
	margin-left: 35%;
	position: relative;
	width: 540px;
	height: 900px;
	background: white;
	border-radius: 20px;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.9);
	padding: 20px;
	position: relative; 
}
.boxes h2{
	text-align: center;
	font-size: 26px;
	color: black;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	text-transform: uppercase;
}
.boxes label{
	font-weight: bold;
}

.boxes input{
	width: 510px;
	height: 40px;
	display: block;
	outline: none;
	border: none;
	font-size: 16px;
	border-bottom: 1px solid black;
	margin: 5px 0;
}
.oui{

	display: none;
	transition: 0.5s;
}
.boxes .cgu{
	margin-top: 10px;
	text-align: center;
}
.boxes .cgu a{
	text-decoration: none;
	color: black;
}
.boxes .cgu a:hover{
	text-decoration: underline;
	color: blue;
}
.boxes form .btn{
position: relative;
	margin: 20px 0 ;
	font-size: 16px;
	width: 200px;
	display: inline-block;
	padding: 10px 20px;
	color: blue;
	background: white;
	border: 2px solid blue;
	transition: 0.5s;
	outline: none;
	margin-left: 30%;
	cursor: pointer;
	border-radius: 20px;
}
.boxes form .btn:hover{
	color: white;
	background: blue;
}
.erreur{

	color: red;
	font-weight: bold;
}